* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}
.container {
    width: 1000px;
    margin: auto;
}

.logo {
  
}

.logo img {
    width: 20%;
    padding: 15px 0;
}

.btn {
    margin-left: 10px;
}

.new-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 20px;
}

.todos-container {
    background-color: rgba(0, 42, 75, 0.496);
    list-style: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 15px;
}

.todos-container li{
    list-style: none;
}